<% include partials/header.ejs %>
<% include partials/nav.ejs %>
<div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Oh snap!</strong>
    <%= title %>
</div>
<% include partials/footer.ejs %>